<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>The Cocktail Experience Toolboox</title>
    <link rel="stylesheet" href="{{assets}}/bower_components/tct-foundation/dist/tct-foundation.css">
    <script type="text/javascript" src="{{assets}}/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    {{> body}}    
    <script type="text/javascript" src="{{assets}}/bower_components/jquery/dist/jquery.js"></script> 
    <script type="text/javascript" src="{{assets}}/bower_components/foundation/js/foundation.js"></script> 
    <script type="text/javascript" src="{{assets}}/bower_components/tct-foundation/dist/tct-foundation.js"></script> 
  </body>
</html>